.container {
    position: relative;
    width: 100%;
    border-radius: 8px;
    
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.image-hover {
    display: block;
    width: 100%;
    height: auto;

    border-radius: 8px;
}
  
.overlay {
    border-radius: 8px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}
  
.container:hover .overlay {
    opacity: 0.7;
}
.container:hover .text {
    opacity: 1;
}

.text {
    opacity: 0;
    color: white;

    font-size: 30px;
    font-family: 'Mitr', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


  /* Responsive */
@media screen and (max-width: 1280px) {
    .text {
        font-size: 25px;
    }
}
  
@media screen and (max-width: 1024px) {
    .text {
        font-size: 25px;
    }
}

@media screen and (max-width: 912px) {
    .text {
        font-size: 35px;
    }
}


@media screen and (max-width: 820px) {
    .text {
        font-size: 25px;
    }
}

@media screen and (max-width: 540px) {
    .text {
        font-size: 25px;
    }
}

@media screen and (max-width: 420px) {
    .text {
        font-size: 20px;
    }
}