/* navbar */
.navbar {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-logo img {
    float: left;
    margin-top: 0.7vh;
    margin-right: 2%;
    margin-left: 2%;
}

.navbar-list{
    display: inline;
    list-style-type: none;
    margin-top: 0.7vh;
    padding: 0;
}

.navbar-list-item {
    margin-top: 0.7vh;
    float: left;

}

.navbar-list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-list-item a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
