/* navbar */
.navbar {

    margin-top: 1%;
    margin-left: auto;
    padding-bottom: 1vh;
    overflow: hidden;
    background-color: #333;
}

.navbar-logo {
    width: 250px;
    margin-left: 6rem;
}

.navbar-logo img {
    align-items: c;
    float: left;
    margin-top: 0.7vh;
    margin-right: 30rem;
}

.navbar-list{
    display: inline;
    list-style-type: none;
    margin-top: 0.7vh;
    padding: 0;
}

.navbar-list-item {
    margin-top: 00.7vh;
    float: left;

}

.navbar-list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-list-item a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
