/*  framework for workshop 10 gamer to coder by Korarit Saengthong Team เริ่มต้นจากเกมส์ */

body {
    margin: 0;
}
/* navbar */
.navbar {

    background: 0 0;
    padding: auto;

    overflow: hidden;
    background-color: hsla(309, 0%, 0%, 0.54);

}

.navbar.is-top {
    position: fixed;
    width: 100%;

    left: 0;

    z-index: 30;
}

.navbar-logo {
    width: 250px;
    margin-left: 6rem;
}

.navbar-logo img {
    margin-top: 0.3rem;
    margin-right: 40rem;

    align-items: center;
    float: left;
}

.navbar-list{
    display: inline;
    margin-right: 6rem;

    float: left;
}

.navbar-list-item {
    float: left;
}

.navbar-list a {
    font-size: 25px;
    font-family: 'Mitr', sans-serif;

    display: block;
    color: white;
    text-align: center;

    padding: 14px 20px;
    text-decoration: none;
}

.navbar-list-item a:hover:not(.active) {
    background-color: #111;
}

.navbar-item-active {
    background-color: #04AA6D;
}


/* row */  
.row {
    display: flex;
    flex-direction: row;
}
.row.is-centered{
    justify-content: center
}
.row.is-gap {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0
}
.row.is-gap:not(:last-child) {
    margin-bottom: 2rem
}

.row.is-gap:last-child {
    margin-bottom: 0
}

/* size column */
.column{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}
.column.size-is-1 {
    flex: 10%;
}
.column.size-is-2 {
    flex: 20%;
}
.column.size-is-3 {
    flex: 30%;
}
.column.size-is-4 {
    flex: 40%;
}
.column.size-is-5 {
    flex: 50%;
}
.column.size-is-6 {
    flex: 60%;
}
.column.size-is-7 {
    flex: 70%;
}
.column.size-is-8 {
    flex: 80%;
}
.column.size-is-9 {
    flex: 90%;
}
.column.size-is-10 {
    flex: 100%;
}

/* item align */
.is-align-center{
    margin: 0 auto;
}
.is-align-center-point{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* button */
.button-small {
    height: 2.2rem;
    border-radius: 0.4rem;
    border: 0px;

    font-size: 15px;
}
.button-normal {
    height: 2.7rem;
    border-radius: 0.5rem;
    border: 0px;

    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.button-medium {
    height: 3.3rem;
    border-radius: 0.4rem;
    border: 0px;

    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.button-large {
    height: 3.8rem;
    border-radius: 0.4rem;
    border: 0px;

    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


/* button color */
.button-white{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 4%);
}
.button-white:hover{
    background-color: hsl(0, 0%, 89%);
    color: hsl(0, 0%, 4%);
}

.button-black{
    background-color: hsl(0, 0%, 4%);
    color: hsl(0, 0%, 100%);
}
.button-black:hover{
    background-color: hsl(0, 0%, 11%);
    color: hsl(0, 0%, 100%);
}

.button-light{
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 100%);
}
.button-light:hover{
    background-color: hsl(0, 0%, 79%);
    color: hsl(0, 0%, 100%);
}

.button-dark{
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 100%);
}
.button-dark:hover{
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 100%);
}

.button-primary{
    background-color: hsl(171, 100%, 41%);
    color: hsl(0, 0%, 100%);
}
.button-primary:hover{
    background-color: hsl(171, 99%, 36%);
    color: hsl(0, 0%, 100%);
}

.button-link{
    background-color: hsl(217, 71%, 53%);
    color: hsl(0, 0%, 100%);
}
.button-link:hover{
    background-color: hsl(217, 64%, 47%);
    color: hsl(0, 0%, 100%);
}

.button-info{
    background-color: hsl(204, 86%, 53%);
    color: hsl(0, 0%, 100%);
}
.button-info:hover{
    background-color: hsl(204, 75%, 46%);
    color: hsl(0, 0%, 100%);
}

.button-success{
    background-color: hsl(141, 53%, 53%);
    color: hsl(0, 0%, 100%);
}
.button-success:hover{
    background-color: hsl(141, 48%, 47%);
    color: hsl(0, 0%, 100%);
}

.button-warning{
    background-color: hsl(48, 100%, 67%);
    color: hsl(0, 0%, 4%);
}
.button-warning{
    background-color: hsl(48, 78%, 62%);
    color: hsl(0, 0%, 4%);
}

.button-warning{
    background-color: hsl(348, 100%, 61%);
    color: hsl(0, 0%, 100%);
}
.button-warning:hover{
    background-color: hsl(348, 73%, 54%);
    color: hsl(0, 0%, 100%);
}


/* layout */
.layout{
    width: 100%;
}
.layout-fullheight{
    height: 91vh;

    padding-top: 2.5rem;
}
.layout-half{
    height: 50vh;

    padding-top: 1rem;
}
.layout-large{
    height: 65vh;

    padding-top: 1rem;
}
.layout-medium{
    height: 55vh;

    padding-top: 1rem;
}
.layout-small{
    height: 45vh;

    padding-top: 1rem;
}

/* card */
.card {
    background-color: hsla(204, 0%, 98%, 1);
    border-radius: 8px;
    border: 0px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

.card-content:first-child,
.card-footer:first-child,
.card-header:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-header {
    background-color: transparent;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-title {
    font-size: 35px;
    font-family: 'Mitr', sans-serif;
    text-align: center;
}

.card-image{
    margin-bottom: 10px;

    display: block;
    position: relative
}
.card-image:first-child img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-image:last-child img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-content {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.card-footer {
    background-color: transparent;
    border-top: 1px solid #585858;
    align-items: stretch;
    display: flex;
}

/* logo bloackman go */
.blockmango-logo {
    width: 750px;
    margin-bottom: 3rem;
}




/* Responsive */
@media screen and (max-width: 1280px) {
    /* navbar */
    .navbar-logo  {
        margin-left: 3rem;
    }

    .navbar-logo img  {
        margin-right: 8rem;
    }

    .blockmango-logo {
        width: 600px;
    }
}
  
@media screen and (max-width: 1024px) {
    /* navbar */
    .navbar-logo  {
        margin-left: 1.2rem;
    }

    .navbar-logo img{
        margin-top: 0.4rem;
        width: 250px;
    }

    .navbar-list a {
        font-size: 18px;
    }

    .blockmango-logo {
        width: 500px;
    }
}

@media screen and (max-width: 911px) {
    /* navbar */
    .navbar-list  {
        display: none;
    }

    .navbar-logo img {
        margin-top: 0.2rem;
    }

    .blockmango-logo {
        width: 500px;
    }
}


@media screen and (max-width: 820px) {
    /* navbar */
    .navbar-list  {
        display: none;
    }

    .navbar-logo img {
        margin-top: 0.2rem;
    }

    .blockmango-logo {
        width: 500px;
    }

    /* row column grid */
    .row {
        flex-direction: column;
    }

    /* card */
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .navbar-logo img {
        width: 210px;
        margin-bottom: 0.2rem;
        margin-top: 0.2rem;
    }

    .blockmango-logo {
        width:340px;
    }
}

@media screen and (max-width: 420px) {
    .navbar-logo img {
        width: 220px;
    }

    .blockmango-logo {
        width:240px;
    }
}
